<%= form_tag "/url", method: :post do %>
	<h1> Enter New Url You want too shorten	</h1>
	<input type="url" name="new_url" placeholder="Enter Url" required="">
	<br>
	<button type="submit">Submit</button>
<% end %>